* {
  margin: 0px;
  padding: 0%;
}

.editor-body {
  background-color: rgba(0, 0, 0, 0.022);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.tox-statusbar__branding {
  display: none;
}

pre {
  counter-reset: line-numbering;
  background: #2c3e50;
  padding: 12px 0px 14px 0;
  width: 600px;
  color: #ecf0f1;
  line-height: 140%;
  .line::before {
    content: counter(line-numbering);
    counter-increment: line-numbering;
    padding-right: 1em;
    /* space after numbers */
    padding-left: 8px;
    width: 1.5em;
    text-align: right;
    opacity: 0.5;
    color: white;
  }
}
